.controlContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    width:450px;
    margin:0 auto;
    height: 10px;

    
    

}

#dropdown-autoclose-inside{
    background-color:#FFFFFF;
    color: #444;
    
    
    
}