.controlContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 1;
    width:500px;
    margin:0 auto;
    height: 50px;
    
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 6px #0000003B;
    border-radius: 25px;
    opacity: 1;
}

.btn-primary{
    border-color: #FFFFFF;
    border-width: 0px;
    background-color: #DB893F;
}
.btn-primary:hover{
    
    background-color: #444;
}

#dropdown-autoclose-inside{
    background-color:#FFFFFF;
    color: #444;
    
    
    
}



.searchBox {
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBox input{
    background-color: #444;
    border: none;
    outline: none;
    width: 0;
    padding: 0; 
    opacity: 0;
    border-radius: 40px;
    line-height: 20px;
    font-size: 18px;
    color: #fff;
    transition: all 1s;
}

.searchBox input::placeholder {
    color: rgba(255,255,255,.5);
    font-weight: 400;
}

.searchBox i {
    background-color: #DB893F;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: all .5s;
}

.searchBox:hover input{
    width: 240px;
    opacity: 1;
    padding: 10px 20px;
}

.searchBox:hover i{
    color: #fff;
}

