.controlContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 1;
    width:500px;
    margin:0 auto;
    height: 50px;
    
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 6px #0000003B;
    border-radius: 25px;
    opacity: 1;
}

.btn-primary{
    border-color: #FFFFFF;
    border-width: 0px;
    background-color: #DB893F;
}
.btn-primary:hover{
    
    background-color: #444;
}

.search-menu{
    width: 500px;
    height: 65px;
}

.searchbar{
    width: 40px;
}

#dropdown-autoclose-inside{
    background-color:#FFFFFF;
    color: #444;
    
    
    
}