.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header1{
    height: 185px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal normal bold 46px/100px Bahnschrift;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

h2{
font: normal normal bold 24px/34px Bahnschrift;
letter-spacing: 1.2px;
color: #50899B;
opacity: 1;
}

.category{
    display:flex;
    justify-content: space-evenly;
    text-align: center;
    
}

.category-btn{
    border-color: #FFFFFF;
    border-radius: 50%;
    border-width: 0px;
    background-color: #FFFFFF;
}

.pallete{
    justify-content: center;

}
.fa-palette{
    color: #DB893F;
}

.sports{
    justify-content: center;

}

.fa-basketball{
    color: #DB893F;
}

.music{
    justify-content: center;

}

.fa-music{
    color: #DB893F;
}

.utensils{
    justify-content: center;
}

.fa-utensils{
    color: #DB893F;
}

.shopping{
    justify-content: center;
}

.fa-bag-shopping{
    color: #DB893F;
}